.tim-typo {
    padding-left: 25%;
    margin-bottom: 40px;
    position: relative;
    width: 100%;
}

.tim-typo .tim-note {
    bottom: 5px;
    color: #c0c1c2;
    display: block;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    left: 0;
    margin-left: 20px;
    position: absolute;
    width: 260px;
}


/* offline-doc */

.offline-doc .navbar.navbar-transparent {
    padding-top: 25px;
    border-bottom: none;
}

.offline-doc .navbar.navbar-transparent .navbar-minimize {
    display: none;
}

.offline-doc .navbar.navbar-transparent .navbar-brand,
.offline-doc .navbar.navbar-transparent .collapse .navbar-nav .nav-link {
    color: #FFFFFF !important;
}

.offline-doc .footer {
    z-index: 3 !important;
}

.offline-doc .page-header .container {
    z-index: 3;
}

.offline-doc .page-header:after {
    background-color: rgba(0, 0, 0, 0.5);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}

#map {
    z-index: 2;
    height: calc(100vh - 70px);
    margin-top: 70px;
}

.img-list {
    width: 50px;
    height: 70px;
}

.btn-add {
    font-size: 16px;
    margin-top: 10px;
    display: inline-block;
    padding: 5px;
    text-decoration: none;
    font: inherit;
    border: 3px solid #fff;
    color: #fff;
    background: #ab47bc;
    border-radius: 3px;
    cursor: pointer;
}

.btn-add:hover,
.btn-add:active {
    background-color: white;
}

.btn {
    display: inline-block;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    font: inherit;
    border: 2px solid #ab47bc;
    color: #ab47bc;
    background: white;
    border-radius: 3px;
    cursor: pointer;
}

.btn:hover,
.btn:active {
    background-color: #ab47bc;
    color: white;
}

.bg-edit {
    background-color: #fff;
    padding: 20px;
    width: 100%;
}

.product-content label {
    text-transform: capitalize;
    color: #555;
    margin-right: 10px;
}

.product-content input,
.product-content textarea {
    border: 1px solid #5555;
    border-radius: 5px;
    margin-bottom: 20px;
}

.product-content textarea {
    width: 100%;
}

.pagination {
    margin-top: 2rem;
    margin-bottom: 3rem;
    text-align: center;
}

.pagination a {
    text-decoration: none;
    color: #000;
    padding: 5px 6px 5px 6px;
    margin: 0 6px;
}

.pagination a:hover,
.pagination a:active {
    text-decoration: underline;
}

.pagination a.active {
    background: #000;
    color: white;
}